* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/sky.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#embed-container {
  position: absolute;
  left: 50%;
  bottom: 10vh;
  transform: translateX(-80%);
  width: 30vw;
  height: auto;
  min-height: 2vh;
}

#main-window {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-shrink: 2;
  margin-right: 25vw;
  margin-top: 5vh;
  min-width: 40vw;
  max-height: fit-content;
  min-height: fit-content;
  width: 20vw;
  overflow-y: auto;
  min-height: 40vh;
  height: 2vh;
}

#donate-window {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-shrink: 2;
  margin-right: 42vw;
  margin-top: 2vh;
  min-width: 40vw;
  max-height: fit-content;
  min-height: fit-content;
  width: 20vw;
  overflow-y: auto;
  min-height: 40vh;
  height: auto;

}

#browser-window {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-shrink: 2;
  margin-right: 25vw;
  margin-top: 5vh;
  min-width: 40vw;
  max-height: fit-content;
  min-height: fit-content;
  width: 20vw;
  overflow-y: auto;
  min-height: 40vh;
  height: auto;
}

#search-container {
  text-align: center;
  padding: 10px;
}

#website-input {
  width: 60%;
  padding: 5px;
}

#search-btn {
  padding: 5px 10px;
  margin-left: 10px;
}

#results {
  flex-grow: 1;
  width: 100%;
}

#searchFrame {
  width: 100%;
  height: 100%;
  border: none;
}


.right-panel {
  margin-left: 20px;
  background: #fff;
  flex-grow: 1;
  height: auto;
  border: 1px solid #8da8ff;
}

.right-panel h3 {
  margin: 40px;
}

#header-window {
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 19vw;
  max-width: 40%;
  margin: 0 auto;
  margin-top: 3vh;
  width: 2vw;
}

@media screen and (max-width: 600px) {
  #header-window {
    width: 100%;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    
    max-width: 100vw;
    z-index: 1000;
  }

  #embed-container {
    display: none;
  }

  #main-window {
    width: 100%;
    margin-top: 10vh;
  }

  #browser-window {
    width: 100%;
    margin-top: 10vh;
  }

  #donate-window {
    width: 100%;
    margin-top: 10vh;
  }
}

.header-buttons-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 15px;
  gap: 1vw;
  flex-grow: 4;
  justify-content: center;
  align-items: center;
}

.header-buttons-container button {
  padding: 10px 20px;
  margin: 0 5px;
}

/* Windows */

.window-search-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.window-body {
  position: relative;
  display: flex;
  height: 100%;
}

.left-panel {
  background-color: #f0f0f0; /* Light gray background */
  width: 200px;
  overflow-y: auto;
}

.tree-view {
  height: 65vh;
}

[role="tabpanel"] {
  flex-grow: 2;
}
